.Project {
    height: 40rem;

    .header {
        margin-top: -5rem;
        font-size: 100px;
        color: #232323;
    }

    .content {
        .card {
            margin: 0 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            a {
                text-decoration: none;

                .cardContent {
                    width: 250px;
                    height: 250px;
                    text-align: center;
                    padding: 4rem;
                    margin-bottom: 2rem;
                    border-radius: 20px;
                    color: #FFFFFF;
                    background: #1E1E1E;
                    transition: 300ms;

                    &:hover {
                        border-top: 5px solid #FFFFFF;
                        background: #363636;
                    }
                }
            }
        }

        .dotGroup {
            margin: 0 8px;
            
            .dotActive {
                padding: 8px;
                background-color: #39A2DB;
                border: none;
                border-radius: 100%;
            }
    
            .dotInActive {
                padding: 8px;
                background-color: #FFFFFF;
                border: none;
                border-radius: 100%;
            }
        }
    }

    @media only screen and (max-width: 768px) {

        .header {
            font-size: 15vw;
            margin-top: 0;
        }

        .content {
            margin: 0px;

            .card {
                .cardContent {
                    width: 200px;
                    height: 200px;
                    padding: 3rem;

                    a {
                        top: 1rem;
                    }
                }
            }
        }
    }
}